<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <script src="js/scripts.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"/>
    <link rel="stylesheet" href="css/styles.css">

</head>
<body>


    

    <div id="app">
        <div id="overlay">
            <div class="text-center overlayContent">
                <h4>Hover over any card to see options for adding cards to your deck, purchasing and more</h4>
                <img class="overlayImg" src="img/arrow-2085195_1280.png" height="216" width="320"/>
                <h5>Click anywhere to continue</h5>
            </div>
        </div>
        <script src="https://www.gstatic.com/firebasejs/5.8.6/firebase.js"></script>
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <b-button v-b-modal.detailmodal id="detailBtn">Deck Details</b-button>
                </li>
            </ul>
        </div>
        
        <b-form id="cardForm">

            <b-container fluid class="border">
                <b-row>
                    <b-col sm="6">
                        <b-nav-form class="mx-2 px-2" @submit.prevent="searchCards()">
    
                            <b-container id="searchForm" fluid class="border m-3">
                                <br/>

                                <b-button v-b-toggle.collapse-types variant="primary">Type Options</b-button>
                                <b-collapse id="collapse-types" >
                                    <b-row>

                                        <b-col sm="6">
                                            <label for="typeSelect">Type: </label>
                                        </b-col>
                                        <b-col sm="6" >
                                            <b-form-select id="typeSelect" size="sm" v-model="searchType" :options="cardTypeList"></b-form-select>
                                        </b-col>
                                    </b-row>
                                    <br/>
                                    <b-row>

                                        <b-col sm="6">
                                            <label for="subTypeSelect">Subtype: </label>
                                        </b-col>
                                        <b-col sm="6">
                                            <b-form-select  v-if="subTypes.length > 0" size="sm" class="subTypeSelect" id="subTypeSelect" v-model="searchSubType" :options="subTypeList"></b-form-select>
                                            <b-form-select v-else size="sm" disabled="disabled"  class="subTypeSelect">
                                                <option value=""></option>
                                            </b-form-select>
                                        </b-col>
                                    </b-row>
                                </b-collapse>

                                <br/>


                                <b-button v-b-toggle.collapse-colors variant="primary">Color Options</b-button>
                                <b-collapse id="collapse-colors">
                                    <b-row>
                                        <div v-for="color in colors" class="colorButton">
                                            <button type="button" class="btn btn-sm btn-outline-primary colorBtn mx-1"  @click="changeColorOption(color)">{{logicOptions[color.status]}}</button>
                                            {{color.name}}

                                        </div>

                                    </b-row>
                                </b-collapse>

                                <br/>
    
    
    
                                <b-row class="text-center">
                                    <b-col sm="6">
                                        <label for="searchInput">Search term: </label>
                                        <b-form-input id="searchInput" size="sm" type="text" placeholder="Card Search" v-model="searchName"></b-form-input>
                                        <b-button size="sm" type="submit"><i class="fas fa-search"></i></b-button>
                                    </b-col>
    
                                </b-row>
                                <br/>
    
                            </b-container>
    
                        </b-nav-form>
                    </b-col>
                    <b-col sm="6" class="text-center p-5">
                        <h1>{{deckDetails.deckName}}</h1>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col sm="6" >
                        

                        <b-row>
                            <b-container class="cardList">
                                <b-row v-if="searching" class="justify-content-sm-center">
                                    <b-col sm="10">
                                        <b-alert show variant="warning">Searching...</b-alert>
                                    </b-col>
                                </b-row>
                                <b-row v-else-if="cards.length > 0">
                                    <card v-for="card in cards" :key="card.id" :card="card" :deck="deckList" :buylist="buyList" :showqty="false" ></card><!--:deck="deck"-->

                                </b-row>
                                <b-row v-else class="justify-content-sm-center">
                                    <b-col sm="10">
                                        <b-alert show variant="danger">No cards found.</b-alert>
                                    </b-col>
                                </b-row>
                            </b-container>
                        </b-row>

                    </b-col>
                    <b-col sm="6">
                        <b-row>
                            <b-tabs v-model="deckTabIndex">
                                <b-tab v-bind:title="deckDetails.deckName + '(' + deckList.length + ')'"  >
                                    <b-container class="cardList">
                                        <b-row v-if="searching" class="justify-content-sm-center">
                                            <b-col sm="10">
                                                <b-alert show variant="warning">Loading your deck...</b-alert>
                                            </b-col>
                                        </b-row>
                                        <b-row v-else-if="deckCardList.length > 0">

                                            <card v-for="card in deckList" :key="card.card.id" :card="card.card" :deck="deckList" :buylist="buyList" :showqty="true" :qty="card.quantity"></card>
                                        </b-row>
                                        <b-row v-else class="justify-content-sm-center">
                                            <b-col sm="10">
                                                <b-alert show variant="danger">{{deckList.length}} cards in deck. Add some cards. </b-alert>
                                            </b-col>
                                        </b-row>
                                    </b-container>
                                </b-tab>
                                <b-tab v-bind:title="'Buylist (' + buyList.length + ')'">
                                    <b-container class="cardList">
                                        <b-row v-if="searching" class="justify-content-sm-center">
                                            <b-col sm="10">
                                                <b-alert show variant="warning">Loading Buylist...</b-alert>
                                            </b-col>
                                        </b-row>
                                        <b-row v-else-if="buyList.length > 0">
                                            <card v-for="card in buyList" :key="card.card.id" :card="card.card" :deck="deckList" :buylist="buyList" :showqty="true" :qty="card.quantity"></card>
                                        </b-row>
                                        <b-row v-else class="justify-content-sm-center">
                                            <b-alert show variant="danger">{{buyList.length}} cards in buy list. Add some cards. </b-alert>
                                        </b-row>
                                    </b-container>
                                    <b-container>
                                        <b-button @click="purchaseAll">Purchase All</b-button>
                                    </b-container>
                                    
                                </b-tab>
                            </b-tabs>
                            
                        </b-row>
                    </b-col>
                </b-row>
            </b-container>
        </b-form>

        <b-form id="deckForm" >
            <b-modal id="detailmodal" hide-footer hide-header>
                <b-tabs v-model="tabIndex">
                    <b-tab card title="Welcome">
                        <b-card-title>Welcome to the Deck Builder</b-card-title>
                        <b-card-body>
                            <b-button @click="tabIndex++;">Click here to get started</b-button>
<!--                            <b-button @click="loadDecks">Load Saved Deck</b-button>-->
                        </b-card-body>
                    </b-tab>
                    <b-tab card title="Deck Info">
                        <b-card-title>Lets get some basic information</b-card-title>
                        <b-card-body>
                            <b-form-group
                                id="nameGroup"
                                description="Enter a deck name"
                                label="Enter deck name"
                                label-for="deckNameInput"
                                :invalid-name-feedback="invalidNameFeedback"
                                :nameState="nameState">
                                <b-form-input id="deckNameInput" v-model="deckDetails.deckName" :state="nameState" trim></b-form-input>
                                
                            </b-form-group>
                            <b-form-group
                                    id="descriptionGroup" 
                                    description="Enter a Description" 
                                    label="Enter a description" 
                                    label-for="deckDescriptionInput" 
                                    :invalid-description-feedback="invalidDescriptionFeedback"
                                    :nameState="descriptionState">
                                <b-form-textarea 
                                        id="deckDescriptionInput" 
                                        v-model="deckDetails.deckDescription"
                                        placeholder="Enter a description" 
                                        rows="3"
                                        max-rows="6"
                                        :state="descriptionState" trim></b-form-textarea>

                            </b-form-group>
                            <b-button @click="tabIndex++">Next</b-button>
                        </b-card-body>
                    </b-tab>
                    <b-tab card title="Additional Details">

                        <b-card no-body>
                            <b-card-header header-tag="header" role="tab">
                                <b-button block v-b-toggle.collapse-sharing variant="primary">Sharing Options</b-button>
                            </b-card-header>
                            <b-collapse id="collapse-sharing" accordian="accordian">
                                <b-card-body>
                                    <b-row>
                                        <b-col sm="5">

                                            <b-form-checkbox
                                                    id="privateCheck"
                                                    v-model="deckDetails.private"
                                                    name="private"
                                                    value="true"
                                                    unchecked-value="false"
                                            >
                                                Private
                                            </b-form-checkbox>
                                            <b-form-checkbox
                                                    id="archivedCheck"
                                                    v-model="deckDetails.archived"
                                                    name="archived"
                                                    value="true"
                                                    unchecked-value="false"
                                            >
                                                Archived
                                            </b-form-checkbox>

                                            <b-form-checkbox
                                                    id="helpCheck"
                                                    v-model="deckDetails.needsHelp"
                                                    name="needsHelp"
                                                    value="true"
                                                    unchecked-value="false"
                                            >
                                                Needs Help
                                            </b-form-checkbox>

                                        </b-col>
                                        <b-col sm="5">
                                            <b-form-checkbox
                                                    id="prototypeCheck"
                                                    v-model="deckDetails.prototype"
                                                    name="prototype"
                                                    value="true"
                                                    unchecked-value="false"
                                            >
                                                Prototype
                                            </b-form-checkbox>

                                            <b-form-checkbox
                                                    id="draftChecked"
                                                    v-model="deckDetails.draft"
                                                    name="draft"
                                                    value="true"
                                                    unchecked-value="false"
                                            >
                                                Draft
                                            </b-form-checkbox>
                                            <b-form-checkbox
                                                    id="sealedCheck"
                                                    v-model="deckDetails.sealed"
                                                    name="sealed"
                                                    value="true"
                                                    unchecked-value="false"
                                            >
                                                Sealed
                                            </b-form-checkbox>


                                        </b-col>
                                    </b-row>
                                </b-card-body>

                            </b-collapse>
                        </b-card>
                        <b-card no-body>
                            <b-card-header>
                                <b-button block v-b-toggle.collapse-other variant="primary">Other Options</b-button>
                            </b-card-header>
                            <b-collapse id="collapse-other" accordian="accordian">
                                <b-card-body>
                                    <b-row>
                                        <b-col sm="5">

                                            <b-form-checkbox
                                                    id="onProfileCheck"
                                                    v-model="deckDetails.onProfile"
                                                    name="onProfile"
                                                    value="true"
                                                    unchecked-value="false"
                                            >
                                                Appears on Profile
                                            </b-form-checkbox>
                                            <b-form-checkbox
                                                    id="syncInventoryCheck"
                                                    v-model="deckDetails.syncInventory"
                                                    name="syncInventory"
                                                    value="true"
                                                    unchecked-value="false"
                                            >
                                                Sync with Inventory
                                            </b-form-checkbox>

                                            <b-form-checkbox
                                                    id="noRevisionsCheck"
                                                    v-model="deckDetails.noRevisions"
                                                    name="noRevisions"
                                                    value="true"
                                                    unchecked-value="false"
                                            >
                                                Disable revisions
                                            </b-form-checkbox>
                                            <b-form-checkbox
                                                    id="showOtherCheck"
                                                    v-model="deckDetails.showOther"
                                                    name="showOther"
                                                    value="true"
                                                    unchecked-value="false"
                                            >
                                                Show other decks
                                            </b-form-checkbox>


                                        </b-col>
                                        <b-col sm="5">
                                            <b-form-checkbox
                                                    id="ignoreSuggestionsCheck"
                                                    v-model="deckDetails.ignoreSuggestions"
                                                    name="ignoreSuggestions"
                                                    value="true"
                                                    unchecked-value="false"
                                            >
                                                Ignore Suggestions
                                            </b-form-checkbox>

                                            <b-form-checkbox
                                                    id="publicAcquireChecked"
                                                    v-model="deckDetails.publicAcquire"
                                                    name="publicAcquire"
                                                    value="true"
                                                    unchecked-value="false"
                                            >
                                                Public acquire board
                                            </b-form-checkbox>
                                            <b-form-checkbox
                                                    id="showCompetitiveCheck"
                                                    v-model="deckDetails.showCompetitive"
                                                    name="showCompetitive"
                                                    value="true"
                                                    unchecked-value="false"
                                            >
                                                Show competitive meter
                                            </b-form-checkbox>


                                        </b-col>
                                    </b-row>
                                </b-card-body>

                            </b-collapse>

                        </b-card>

                        <br/>


                        <b-button id="dismissDetailBtn" @click="$bvModal.hide('detailmodal')">Continue</b-button>
<!--                        <b-button @click="testname">click</b-button>-->

                    </b-tab>
                </b-tabs>
            </b-modal>
        </b-form>
        <div class="text-lg-center">
            <button class="btn btn-lg btn-primary" @click="storeDeck">Save Deck</button>    
        </div>
        
    </div>
    



<script src="https://unpkg.com/vue@2.6.8/dist/vue.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://unpkg.com/vuefire@2.0.0-alpha.20/dist/vuefire.js"></script>
<script src="https://unpkg.com/vue-resource@1.5.1/dist/vue-resource.js"></script>
<script src="js/app-models.js"></script>
<script src="js/app-components.js"></script>
<script src="js/app.js"></script>
</body>
</html>
